body {
  margin: 0;
  padding: 0;


}
a{
  text-decoration: none;
  color:currentColor;padding: 0px 16px 0px 16px;
}
.content{
  margin:15px;
  padding: 0;

}

/*   Main page   */

.surfCanary{
  display: flex;
  justify-content: center;
  width: -webkit-fill-available;
  height: auto;
  border: black solid 7px;

}
.welcomeInfo{
  border-bottom: gray solid 2px;
  font-family: 'Roboto', sans-serif;
  display: flow-root;
  letter-spacing: 3px;
  padding: 10px 13px;
  margin: 40px;
}

.oldSurfer{
  display: flex;
  justify-content: center;
  width: -webkit-fill-available;
  filter:sepia(1);
}
.welcomeInfo h2{
  color: #00BBF0;
  font-weight: 500;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.lady-surfer{
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  width: -webkit-fill-available;
  height: auto;
}
.homeText{
  padding: 10px 13px 46px 12px;
}
.surfT{
  font-size:93px;
  text-shadow: #0e83d2 -3px 7px 3px;
}

/*+++   NavBar     ++++*/
.navBar{
  display: flex;
  background-color: #46ACC2;
  padding: 16px;
  color:white;
}
.navBar-items{
  display: flex;
}
.navLink{
  padding-right: 10px;
}
.navBar-itemsRight{
  margin-left: auto;
}
.navLink-toggle{
  display: none;
}
.fa{
  transition: transform .2s;
}
.fa:hover{
  transform: scale(1.5);
}

/***    About     ***/

.mainTitle{
  font-size:120px;
  display:flex;
  justify-content:center;


}

.title{
  font-size:50px;
  font-family: 'Helvetica Neue';
  font-weight:300;
  display:flex;
  justify-content:left;
  color:#3d3d3d;

}

.info{
  font-size:20px;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 12.5px;
  font-weight:300;
  line-height:1.1;
  padding: 10px 4px 15px 6px;
}


.mainImage img {
  width:100%;
  height: auto;

}
.pjimage{
  display: flex;
  justify-content: center;
  width: -webkit-fill-available;
  height: auto;
  border-radius: 0px 100px 0px 100px;
}
.imgSkate{
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  width: -webkit-fill-available;
  height: auto;
}

/**    Gallery    ****/

.gmainTitle{
  font-size:120px;
  border: white solid 1px;
  border-radius:2px;
  display:flex;
  justify-content:center;
  font-family: Anton;
  font-weight:200;
  background-color:#ff1a1a;
  text-shadow: 2px 1px white;
}

.gtitle{
  font-size:50px;
  font-family: 'Helvetica Neue';
  font-weight:320;
  display:flex;
  justify-content:left;
  color:#808080;
  background-color: black;
  padding: 15px 10px 15px 20px;
  margin-bottom: 0;
}

.ginfo{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 10px 20px;
  line-height: 1.1;
  background-color: lightgray;
  letter-spacing: 1px;
  margin:-1px;

}
.gimage{
  display: flex;
  justify-content: center;
  width: -webkit-fill-available;
  height: auto;


}
.author{
  font-family:'Robot',sans-serif;
  font-weight:200;
  color:#4d4d4d;
  text-shadow:1px 1px #4d4d4d;
  font-size:18px;
}
.gconcept{
  display:flex;
  justify-content:center;


}
/*           InterView       */
.tag{
  font-family: 'Raleway', sans-serif;
  font-size: 85px;
}
.andy{
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  width: -webkit-fill-available;
  height: auto;
}
.response{
  text-align: -webkit-center;
  font-size: 22px;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  margin: 13px 40px 19px 40px;
  padding-bottom: 60px;
}
.quotes{
  font-size: 35px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
}



/*Mobile*/
@media only screen and (max-width: 768px){
  .navBar-items,
  .navBar{
    flex-direction: column;
  }
  .navBar-items{
    display: none;
  }
  .navBar-itemsRight{
    margin-left: 0;
  }
  .navLink-toggle{
    display: initial;
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
  }

  /*About*/
  .mainTitle{
    font-size: 50px;
  }
  .title{
    font-size:25px;
  }
  .info{
    font-size:18px;
    display:block;
  }

/* Gallery*/
.gmainTitle{
    font-size: 50px;
    color:white;
    text-shadow: 2px 3px #b30000;
  }
  .gtitle{
    font-size:25px;
    color: #808080;

  }
  .ginfo{
    font-size:18px;

  }
  .content{
    display: contents;
  }
  /*Home*/
  .welcomeInfo{
    margin: 0px;
    padding: 0;
  }
  .surfT{
    font-size: 41px;
  }
  .welcomeInfo p {
    font-size: 14px;
    letter-spacing: 2px;
    margin: 10px 3px 5px 3px;
    text-align: justify;
    padding: 3px 5px 15px 5px;
  }
  /*Interview*/
  .response{
    font-size: 21px;
    margin: 9px 13px 15px 13px;
    text-align: center;
    padding: 9px 5px 0 5px;
  }
  .quotes{
    font-size: 30px;
    padding: 20px 20px 10px 20px;
    margin: 0px 13px 0 13px;
    border-bottom: black solid 1px;
  }
  .tag{
    font-size: 53px;
    padding: 3px;

  }
}

@media only screen and (min-width:1200px){
  .gimage {
    width: 1200px;
    display: inline-block;
  }
  .imgSkate{
    width: 500px;
    display: inline-block;
  }
  .content{
    display: contents;
  }
  .ginfo{
    display: inline-block;
    margin:-3px;
  }
  .imgInfo .info {
    width: 1200px;
    display: inline-block;
  }
  /*Home*/
  .surfT{
      font-size: 135px;
  }
  .lady-surfer  , .oldSurfer  {
    width: 1200px;
    display: inline-block;
  }
  .welcomeInfo p{
    font-size: 26px;
    width: 1100px;
    display: inline-block;
    text-align: center;
    margin: 16px 10px 20px 0px;
    padding:3px 5px 15px 5px;

  }
  /*Interview*/
  .andy{
    width:1000px;
    display: inline-block;
    padding:20px;
  }
  .tag{
    padding:40px;
  }
  .response{
    font-size: 26px;
    margin: 0 70px 70px 70px;
  }
  .quotes{
    font-size:55px;
  }
}
